# EmailJS Configuration
REACT_APP_EMAILJS_SERVICE_ID=service_8y6hkr8
REACT_APP_EMAILJS_TEMPLATE_ID_CONTACT=template_vfhnecb
REACT_APP_EMAILJS_TEMPLATE_ID_BOOKING=template_vd1plci
REACT_APP_EMAILJS_PUBLIC_KEY=BXE-qX9e_QzruN0OR

# API Configuration
REACT_APP_API_BASE_URL=https://final-tours.onrender.com

# Translation API (optional - for increased limits)
REACT_APP_MYMEMORY_EMAIL=your-email@example.com
